* {
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

p {
    color: #666;
}

a.link-extra-margin {
    display: block;
    padding: 1rem;
}

hr {
    height: 4px;
    border: 0 solid black;
    background-color: green;
}

.green {
    color: green;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

input, select, .dropdown-main {
    background-color: transparent;
    border: 0 solid black;
    border-bottom: 2px solid gray;
    width: 200px;

    padding: 5px;
    margin: 10px;

    font-size: inherit;
    font-family: inherit;
    font-weight: bold;

    text-align: left;

    outline: none;
}

label.inputLabel {
    width: 400px;
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
    text-align: right;
}

@media (max-width: 600px) {
    label.inputLabel {
        width: 200px;
        max-width: unset;
        text-align: center;
    }
}

input[readonly] {
    color: gray;
}

input:invalid {
    border: 0 solid black;
    border-bottom: 2px solid red;
    box-shadow: none;
}

td {
    margin: 0;
    padding: 0;
}

th {
    font-weight: bold;
    /*border-bottom: 2px dashed black;*/
    padding: 5px;
}

th.th-disabled {
    color: gray;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*override previous rule for "special" rows*/
tr.table-heading {
    background-color: inherit;
}

input[type="checkbox"] {
    width: unset;
}

button, input[type="submit"], input[type="button"], .button {
    min-width: 100px;
    border: 2px solid green;
    background-color: green;
    color: #fbfbfb;
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;

    cursor: pointer;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:hover {
    background-color: transparent;
    color: green;
    border: 2px solid green;
}

h1 > * {
    vertical-align: middle;
}

h2 {
    clear: both;
    color: #666666;
}

pre {
    max-width: 100%;
    overflow-x: auto;
}

.img-left, .img-right {
    box-shadow: 0 0 5px 5px #00000022;
}

@media (min-width: 650px) {
    .img-left {
        float: left;
        width: 300px;
        max-width: 100%;
        margin: 20px;
    }

    .img-right {
        float: right;
        width: 300px;
        max-width: 100%;
        margin: 20px;
    }
}

@media (max-width: 650px) {
    .img-left, .img-right {
        display: block;
        margin: 20px auto 20px auto;
        float: none;
        width: 300px;
        max-width: 100%;
    }
}

.text-container {
    max-width: 800px;
    text-align: left;
    margin: auto;
}

.promo-header {
    text-align: center;
    color: #666;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.comparison-table {

}

.comparison-table td:nth-child(1), .comparison-table th:nth-child(1) {
    text-align: right;
    background-color: #fbfbfb;

}

.comparison-table td, .comparison-table tr {
    width: 25%;
    padding: 1rem;
    color: #666;
}

.comparison-table td {
    height: 4rem;
}

.comparison-table td {
    text-align: left;
    background-color: #fbfbfb80;
    /*border-bottom: 2px solid darkgray;*/
}

.comparison-table svg {
    margin-right: 0.5em;
}

.comparison-table td:nth-of-type(1), .comparison-table th:nth-of-type(2) {
    background-color: #00800040;
    font-size: 1.2em;
    color: black;
    padding: 1.2rem;
    position: relative;
}

.comparison-table th:nth-of-type(2) {
    padding-top: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.comparison-table p {
    font-weight: normal;
}

.logo-container {
    background-color: #fbfbfb;
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    transform: translate(0, -3rem) scale(2);
    display: flex;
    position: absolute;
    left: calc(50% - 1rem);
    border-radius: 50%; /*/usr/pgsql-9.6/bin*/
}

.logo-container img {
    width: 1.5rem;
    height: 1.5rem;
}

/* For the drop-down */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-items {
    position: absolute;
    left: 5px;
    top: 60px;

    background-color: #fbfbfb;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;

    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;

    z-index: 10;
}

.dropdown-main {
    background: url("/static/icons/arrow.svg") no-repeat right/contain;
}

.dropdown-element {
    padding: 5px;
    font-weight: bold;
    text-align: left;
}

.dropdown-element:hover {
    background-color: lightgray;
}

.dropdown-element-selected {
    text-decoration: underline;
}

.dropdown-category-container {
    margin-left: 20px;
}

.main-content {
    color: #0b0b0b;
    width: 80%;
    min-width: 400px;
    margin: 0 auto 0px auto;
    min-height: 100vh;
    background-color: #fbfbfb;
    padding: 10px 10px 140px 10px;

    text-align: center;
    position: relative;

    box-shadow: 0 0 10px 10px #00000020;
}

@media (max-width: 400px) {
    .main-content {
        width: 100%;
        min-width: unset;
    }
}

.header {
    width: calc(100% + 20px);
    margin: -10px -10px 0 -10px;
    box-sizing: border-box;
    background-color: green;
    color: white;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.footer {
    box-sizing: border-box;

    width: 100%;
    height: 120px;
    position: absolute;
    background-color: green;
    bottom: 0;
    left: 0;
    padding: 20px;

    color: white;
}

.nav {
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.nav-element {
    flex-grow: 1;
}

.nav-element:hover {
    background-color: lightgray;
}

.nav-element a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.nav-element-selected {
    background-color: green;
    color: white;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
}

.table-container-padding-top {
    padding-top: 2rem;
}

.table-container table {
    min-width: 100%;
}

.table-person-name {
    writing-mode: vertical-lr;
    margin: 0 auto 0 auto;
    width: 1rem;
}

.table-elem {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    color: white;
    margin: 5px;
    text-align: center;
    line-height: 26px;
    text-transform: uppercase;
    border: 2px solid transparent;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    cursor: pointer;
}

.table-elem-0 {
    background-color: gray;
}

.table-elem-0:hover {
    background-color: transparent;
    color: gray;
    border: 2px solid gray;
}

.table-elem-1 {
    background-color: green;
}

.table-elem-1:hover {
    background-color: transparent;
    color: green;
    border: 2px solid green;
}

.table-elem-delete {
    background-color: green;
}

.table-elem-delete:hover {
    background-color: transparent;
    color: green;
    border: 2px solid green;

}

.table-elem-2 {
    background-color: red;
}

.table-elem-2:hover {
    background-color: transparent;
    color: red;
    border: 2px solid red;
}

.table-elem-add {
    background-color: transparent;
    border: 2px dashed gray;
    color: gray;
    font-weight: bold;
}

.table-elem-add:hover {
    border: 2px solid gray;
}

.expense-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: auto;
    align-items: center;
    justify-items: center;
}

.expense-container hr {
    grid-column: 1/-1;
    width: 100%;
}

.expense {
}

.expense-hidden {
    color: lightgray;
}

.expense-header {
    flex-grow: 0;
    padding: 5px;
    width: 240px;
    text-align: center;
    margin: 0;
    grid-column: 1 / 3;
}

.expense-header-editing {
    grid-row: span 2;
}

.expense-header-name {
    font-weight: bold;
}

.expense-header-item {
    color: gray;
}

.expense-header-buttons {
    display: flex;
    justify-content: space-between;
}

.expense-header-buttons > * {
    margin: 0;
    width: 100px;
    padding: 5px;
    height: 30px;
    display: block;
    text-align: center;
}

.expense-hidden .expense-header-item {
    color: inherit;
}

.expense-buttons {
    display: flex;
    color: gray;
    justify-content: space-around;
}

.expense-buttons-button {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.expense-item {
    padding: 5px;
    width: 120px;
    text-align: center;
    color: gray;
    overflow: hidden;

    /*border: 4px solid gray;*/
    /*margin: 10px;*/
    /*flex-grow: 1;*/
}

.expense-item-me {
    color: #0b0b0b;
    flex-grow: 0;
}

.expense-item-name {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expense-item-point {
    color: green;
    font-weight: bold;
}

.expense-item-me .expense-item-point {
    color: green;
}

.errorMessage {
    color: red;
    font-style: italic;
}

/* language select */
.language-select {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.language-select a {
    display: block;
    flex-shrink: 1;
    flex-basis: 0;
    height: 5rem;
}

.language-select a img {
    height: 100%;
}

/* For settings */
.settings-user-info-container {
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.settings-user-info {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    overflow: hidden;
}

.settings-user-info:nth-child(even) {
    background-color: lightgray;
}

.settings-user-info div {
    padding: 0 10px 0 10px;
    min-width: 100px;
    max-width: 80vw;
    overflow: hidden;
    flex-grow: 1.1;
}

.settings-user-info-label {
    color: gray;
}

.expense-person {
    width: 250px;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: 1em auto 1em auto;
    align-items: center;
}

.expense-person-gray {
    color: gray;
}

.expense-person-middle {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.modal-lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    background-color: #000000bb;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.modal-content {
    width: 400px;
    max-width: 100vw;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero img {
    width: 20rem;
}

.hero > div {
    width: 20rem;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-page-card-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 0.5rem;
    grid-auto-rows: minmax(7.5rem, auto);
}

.card > img {
    width: 100%;
}

